[tool.black]
line-length = 100
target-version = ["py311"]

[tool.pylint.MASTER]
ignore-patterns = ["tests/.*"]

[tool.pylint."MESSAGES CONTROL"]
disable = [
  "missing-module-docstring",
  "missing-class-docstring",
  "missing-function-docstring"
]
